# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
.pytest_cache/
.coverage
htmlcov/
.eslintcache

# Next.js build
.next/
out/
build/
dist/

# Python build & virtual environment
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env

# IDEs/Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db

# Docker
.docker-temp/
docker-compose.override.yml
